.contact-container {
  height: 100vh;
  width: 100vw;
  color: #181818;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-container-inner {
  width: 90vw;
  height: 80vh;
  border: solid #181818;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-size: 5rem;
}

.contact-main-content {
  width: 90vw;
  display: flex;
  justify-content: space-around;
}

.contact-info {
  height: 50vh;
  width: 40vw;
  border: solid red;
}

.contact-social {
  height: 50vh;
  width: 40vw;
  border: solid red;
}